<h2>Product : {{products.name}}</h2>

<br>
<br>
<div>
    <div id={{products.id}}> ID : {{products.id}}</div>
    <div class="price">Price: {{products.price}}</div>
    <div class="inventory">Inventory: {{products.inventory}}</div>
</div>
<div>
    <form action="./{{products.id}}/edit" method="GET">
        <div>
            <button type="submit">Edit</button>
        </div>
    </form>
    <form action="" method="POST">
        <div>
            <button type="submit">Delete</button>
        </div>
    </form>
</div>
<div>
    {{>footer}}
</div>